body {
  background-color: #ccc;
  color: black;
}

.index-wrapper {
  display: flex;
  margin-top: 24px;
}

.left-sidebar-menu {
  flex: 1;
  width: 500px;
}

.article-container {
  display: flex;
  flex-direction: column;

  flex: 2;
}

.index-article {
  background-color: aliceblue;
  display: flex;
  margin-bottom: 12px;
  flex-direction: column;
}
